.dms-admin-layout {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-canvas);
}

.dms-admin-layout__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.dms-admin-layout__content {
    flex: 1;
    padding: var(--space-6);
    overflow-y: auto;
}